
@media (max-width:768px) {
    .nav-toggle{
        display: block;
    }
    .nav{
        max-width: 100%;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        visibility: hidden;
    }
    .nav.open{
        visibility: visible;
    }

    .nav ul{
        padding: 12px 15px;
        margin-top: 12px;
        border-top: 1px solid rgba(255,255,255,0);

    }

    .nav ul li{
        display: block;
        margin: 0;
    }


}